*{
    box-sizing: border-box;
    background: brown;
}

.container{
    background: yellow;
    display: flex;
    flex-direction: column;
}
.logo{
    background: pink;
    align-self: flex-start;

}

.container1{
    background: rgb(171, 109, 78);
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}
.nav1{
    height: 10vh;
    width: 10vh;
    background: blueviolet;
    text-align: center;
    padding-top: 20px;
}
.nav2{
    height: 10vh;
    width: 10vh;
    background: green;
    padding-top: 20px;
    text-align: center;
}
.nav3{
    height: 10vh;
    width: 10vh;
    background: grey;
    padding-top: 20px;
    text-align: center;
}
.nav4{
    height: 10vh;
    width: 10vh;
    background: blueviolet;
    padding-top: 20px;
    text-align: center;
}
