{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({{url_for('static', filename='img/covid.png')}})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Covid-19</h1>
                    <span class="subheading">Covid Cases around the world.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            {{ tables|safe }}
        </div>
    </div>
</div>
{% endblock %}